<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--鹰眼IP -->
    <add key="EyeIP" value="192.168.121.200"/>
    <!--<add key="EyeIP" value="10.196.58.14"/>-->

    <!--鹰眼端口 -->
    <add key="EyePort" value="8000"/>

    <!--鹰眼用户名 -->
    <add key="EyeUser" value="admin"/>

    <!--鹰眼密码 -->
    <add key="EyePwd" value="abc12345"/>
    <!--<add key="EyePwd2" value="Haier@wlyd"/>-->

    <!--鹰眼信道 -->
    <add key="EyeChannel" value="1"/>


    <!--2鹰眼IP -->
    <!--<add key="EyeIP2" value="10.196.58.14"/>-->
    <add key="EyeIP2" value="192.168.121.202"/>

    <!--2鹰眼端口 -->
    <add key="EyePort2" value="8000"/>

    <!--2鹰眼用户名 -->
    <add key="EyeUser2" value="admin"/>

    <!--2鹰眼密码 -->
    <add key="EyePwd2" value="abc12345"/>
    <!--<add key="EyePwd2" value="Haier@wlyd"/>-->
    
    <!--2鹰眼信道 -->
    <add key="EyeChannel2" value="1"/>

    <!--3号鹰眼IP -->
    <!--<add key="EyeIP3" value="10.196.58.14"/>-->
    <add key="EyeIP3" value="192.168.121.205"/>

    <!--3号鹰眼端口 -->
    <add key="EyePort3" value="8000"/>

    <!--3号鹰眼用户名 -->
    <add key="EyeUser3" value="admin"/>

    <!--3号鹰眼密码 -->
    <add key="EyePwd3" value="abc12345"/>

    <!--3号鹰眼信道 -->
    <add key="EyeChannel3" value="1"/>

    <!--4号鹰眼IP -->
    <!--<add key="EyeIP4" value="10.196.58.14"/>-->
    <add key="EyeIP4" value="192.168.121.229"/>

    <!--4号鹰眼端口 -->
    <add key="EyePort4" value="8000"/>

    <!--4号鹰眼用户名 -->
    <add key="EyeUser4" value="admin"/>

    <!--4号鹰眼密码 -->
    <add key="EyePwd4" value="abc12345"/>

    <!--4号鹰眼信道 -->
    <add key="EyeChannel4" value="1"/>
    
    

    <!--3D动画 -->
    <add key="3DFileName" value="ppt.mp4"/>

    <!--3D动画2 -->
    <add key="3DFileName2" value="agv1.mp4"/>

    <!--3D动画3 -->
    <add key="3DFileName3" value="agv2.mp4"/>

    <!--AGV动线图  IP-->
    <add key="AgvIP" value="192.168.121.200"/>

    <!--AGV动线图   端口 -->
    <add key="AgvPort" value="8000"/>

    <!--AGV动线图   用户名 -->
    <add key="AgvUser" value="admin"/>

    <!--AGV动线图   密码 -->
    <add key="AgvPwd" value="abc12345"/>

    <!--AGV动线图   信道 -->
    <add key="AgvChannel" value="1"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
